body{
            font-family: Arial, sans-serif;
            margin:0;
            background: linear-gradient(to right,#0f2027,#203a43,#2c5364);
            color:white;
        }

        header{
            text-align:center;
            padding:30px;
            background:#111;
        }

        h1{
            margin:0;
            color:#00eaff;
        }

        .container{
            width:85%;
            margin:40px auto;
            display:grid;
            grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
            gap:20px;
        }

        .card{
            background:#1c1c1c;
            padding:20px;
            border-radius:15px;
            transition:.3s;
        }

        .card:hover{
            transform:translateY(-10px);
            background:#00eaff;
            color:black;
        }

        .card h2{
            margin-top:0;
        }
        footer{
            text-align:center;
            padding:20px;
            background:#111;
            margin-top:40px;
        }